<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwaML AutoML - No Code ML</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>SwaML AutoML</h1>
      <p>Upload your CSV file and get trained ML model automatically</p>
    </header>

    <section class="upload-section">
      <input type="file" id="csvFile" accept=".csv" required />
      <br /><br />
      <button onclick="startTraining()">Detect Target & Start Training</button>
    </section>

    <div class="loading" id="loading">Processing... Please wait.</div>

    <section
      id="targetSelection"
      class="target-selection-section"
      style="display: none"
    ></section>

    <section id="result" class="result-section"></section>

    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
